.faq-aria-tow,
.faq-aria {
  padding: 100px 0;

  @include desktop {
    padding: 50px 0;
  }

  &-wapper {
    display: inline-block;
    margin-bottom: 100px;
    @include desktop {
      text-align: center;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 32px;
      padding-bottom: 10px;
      @include desktop {
        font-size: 25px;
      }
      @include tablet {
        font-size: 20px;
      }
      @include mobile {
        font-size: 18px;
      }
    }
    p {
      padding-bottom: 40px;
    }
    .card {
      border-radius: 0;
      border: 0;
      @include desktop {
        width: 80%;
        margin: 0 auto;
      }
      @include mobile {
        width: 100%;
      }

      .card-header {
        border: 1px solid #e9e9e9;
        background: #ffffff;
        padding: 0;
        margin-bottom: 20px;

        h3 {
          .btn-link {
            background: $primary-color;
            display: flex;
            font-size: 18px;
            width: 100%;
            font-weight: 500;
            padding: 15px 30px;
            color: $white;
            text-decoration: none;
            border-radius: 0;

            @include desktop {
              padding: 15px 100px;
            }

            @include tablet {
              font-size: 16px;
              padding: 15px 20px;
            }

            @include mobile {
              font-size: 15px;
            }

            &::after {
              position: absolute;
              content: "\f107";
              right: 20px;
              color: white;
              font-family: fontawesome;
              transform: rotate(180deg);
              transition: transform .3s ease-in;
            }
          }

          .collapsed {
            background: no-repeat;
            color: $text-color-dark;

            &::after {
              position: absolute;
              content: "\f107";
              color: #000;
              font-family: fontawesome;
              transform: rotate(0deg);
            }
          }
        }
      }

      .card-body {
        margin-bottom: 25px;
        background-color: $white;
        box-shadow: 0px 13px 33px 0px rgba(51, 77, 128, 0.08);
        margin-top: -3%;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &-widget {
    background: #f5f7fa;
    padding: 40px 30px;

    @include desktop {
      padding: 40px 70px;
      text-align: center;
      margin: 0 50px;
    }

    @include mobile {
      padding: 40px 50px;
      margin: 0;
    }

    @include mobile-xs {
      padding: 30px;
    }

    article {
      border: 1px solid $border-color;
      margin-bottom: 40px;
      padding: 20px;

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          padding-bottom: 15px;

          &:last-child {
            padding-bottom: 0;
          }

          a {
            color: $text-color;
            text-decoration: none;
            display: block;

            i {
              color: $primary-color;
              padding-right: 20px;
            }
          }
        }
      }

      &:nth-child(1) {
        padding: 40px 20px;

        h3 {
          font-size: 20px;
          padding-bottom: 10px;

          @include mobile {
            font-size: 18px;
          }
        }
      }

      &:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          margin-bottom: 0;
          color: $text-color-dark;
          font-size: 16px;
        }

        a {
          color: $primary-color;
        }
      }

      &:nth-child(3) {
        border: none;

        form {
          h3 {
            font-size: 24px;
            margin-bottom: 40px;

            @include desktop-lg {
              font-size: 20px;
            }

            @include mobile {
              font-size: 18px;
            }
          }

          .form-row {
            padding-top: 30px;
            margin-right: 0px;
            margin-left: 0px;
          }

          .form-group {
            width: 100%;

            .form-control {
              color: #495057;
              border: none;
              border-radius: 0;
              background: #ffffff;
              padding: 20px;
            }
          }
          a {
            margin-top: 25px;
          }
        }
      }
    }
  }

  // start faq-aria-tow
  &-tow {
    padding: 100px 0;

    @include desktop {
      padding: 50px 0;
    }

    &-titel {
      padding-bottom: 90px;

      @include desktop-lg {
        padding-bottom: 40px;
      }

      @include desktop {
        text-align: center;
      }

      @include tablet {
        padding-bottom: 0;
      }

      h2 {
        @include desktop {
          font-size: 30px;
        }

        @include tablet {
          font-size: 25px;
        }

        @include mobile {
          font-size: 20px;
        }

        @include mobile-xs {
          font-size: 18px;
        }
      }
    }

    &-wapper {
      a {
        margin-top: 20px;
      }
    }

    &-widget {
      article {
        &:nth-child(1) {
          padding: 40px 20px;
          h3 {
            font-size: 24px;
            padding-bottom: 10px;
            @include desktop-lg {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
