<section class="about-four">
  <div class="shap1">
    <img src="images/about/shap.png" alt="icon" />
  </div>
  <div class="shap2">
    <img src="images/about/shap.png" alt="icon" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-1 order-2">
        <!-- start about-four-content -->
        <div class="about-four-content">
          <span class="about-four-content-subtitle">About BizCred</span>
          <h2>Boosting Your Business With <a href="#">Bizcred</a>.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit sed do ei
            usmod tempor incididunt.enim minim veniam quis nostrud exer citation
            ullamco laboris nisi aliquip ex ea commodo consequat duis aute irure
            dolor. excepteur sint occaecat cupidatat non proident. sunt in culpa
            qui officia deserunt mollit anim id est laborum.
          </p>
          <div class="about-four-content-link">
            <a href="pricing.html" class="btn btn-primary">Purchase Now</a>
          </div>
        </div>
        <!-- end about-four-content -->
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
        <div class="about-four-images">
          <img src="images/about/chat-bar.jpg" alt="images" />
        </div>
      </div>
    </div>
  </div>
</section>