<section class="about-three">
  <div class="shap1">
    <img src="images/about/shap1.png" alt="svg" />
  </div>
  <div class="shap2">
    <img src="images/about/shap2.png" alt="svg" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 order-lg-1 order-2">
        <!-- start about-three-content -->
        <div class="about-three-content">
          <span class="about-three-content-subtitle">About BizCred</span>
          <h2>We Provide Creative Business Service</h2>
          <p class="dark-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eius
            tempor incididunt.enim ad minim veniam quis nostrud exer cit.
          </p>
          <p>
            ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute
            irure dolor. excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum. Sed
            perspiciatis unde omnis iste natus error sit voluptatem. accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
            inventore.
          </p>

          <a href="pricing.html" class="btn btn-primary">Purchase Now</a>
        </div>
        <!-- end about-three-content -->
      </div>
      <div class="col-lg-6 col-md-12 order-lg-2 order-1">
        <div class="about-three-images">
          <img src="images/about/about3.jpg" alt="images" />
        </div>
        <div class="about-three-images2">
          <img src="images/about/about4.jpg" alt="images" />
        </div>
      </div>
    </div>
  </div>
</section>