<section class="blog-one">
  <div class="shap1">
    <img src="images/blog/shap-1.png" alt="svg" />
  </div>
  <div class="shap2">
    <img src="images/blog/shap-2.png" alt="svg" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Our Blog</span>
          <h2>Our Latest Articles</h2>
          <div class="border-bottom"></div>
        </div>
      </div>
    </div>
    <div class="row mt-40 justify-content-center">
      <div class="col-lg-4 col-md-12">
        <!-- start blog-post-item -->
        <div class="blog-post-item recent-post" data-aos="fade-right">
          <div class="title">
            <h3>Recent Posts</h3>
          </div>
          <article class="blog-post-one">
            <div class="blog-post-one-content">
              <div class="blog-post-one-content-tag">
                <a href="news-one.html"><i class="fa fa-folder-open-o"></i> Article</a>
              </div>
              <div class="blog-post-one-content-title">
                <a href="single-blog.html"> Dishes That Amplify Your Feelings</a>
              </div>
              <div class="blog-post-one-content-meta">
                <p>
                  by
                  <a href="#">admin</a>/ on
                  <a href="#">20 Dec, 2018</a>
                </p>
              </div>
            </div>
          </article>
          <article class="blog-post-one">
            <div class="blog-post-one-content" id="lase-padding">
              <div class="blog-post-one-content-tag">
                <a href="news-one.html"><i class="fa fa-folder-open-o"></i> Article</a>
              </div>
              <div class="blog-post-one-content-title">
                <a href="single-blog.html"> Dishes That Amplify Your Feelings</a>
              </div>
              <div class="blog-post-one-content-meta">
                <p>
                  by
                  <a href="#">admin</a>/ on
                  <a href="#">20 Dec, 2018</a>
                </p>
              </div>
            </div>
          </article>
          <article class="blog-post-one">
            <div class="blog-post-one-content" id="lase-padding">
              <div class="blog-post-one-content-tag">
                <a href="news-one.html"><i class="fa fa-folder-open-o"></i> Article</a>
              </div>
              <div class="blog-post-one-content-title">
                <a href="single-blog.html"> Dishes That Amplify Your Feelings</a>
              </div>
              <div class="blog-post-one-content-meta">
                <p>
                  by
                  <a href="#">admin</a>/ on
                  <a href="#">20 Dec, 2018</a>
                </p>
              </div>
            </div>
          </article>
        </div>
        <!-- end blog-post-item -->
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- start blog-post-item -->
        <div class="blog-post-item" data-aos="fade-up">
          <article class="blog-post-one">
            <div class="blog-post-one-thumb">
              <img src="images/blog/blog1.jpg" alt="blog-thumb" />
            </div>
            <div class="blog-post-one-content">
              <div class="blog-post-one-content-tag">
                <a href="news-one.html"><i class="fa fa-folder-open-o"></i> Article</a>
              </div>
              <div class="blog-post-one-content-title">
                <a href="single-blog.html">
                  Dishes That Amplify Your Feelings</a>
              </div>
              <div class="blog-post-one-content-meta">
                <p>
                  by
                  <a href="#">admin</a>/ on
                  <a href="#">20 Dec, 2018</a>
                </p>
              </div>
              <div class="blog-post-one-content-excerpt">
                <p>
                  Excepteur sint ocacat cupidatat non proi dent sunt in culpa
                  qui officia.
                </p>
              </div>
              <div class="blog-post-link">
                <a href="single-blog.html" class="btn-info post-link">Read More</a>
              </div>
            </div>
          </article>
        </div>
        <!-- end blog-post-item -->
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- start blog-post-item -->
        <div class="blog-post-item" data-aos="fade-left">
          <article class="blog-post-one">
            <div class="blog-post-one-thumb">
              <img src="images/blog/blog2.jpg" alt="blog-thumb" />
            </div>
            <div class="blog-post-one-content">
              <div class="blog-post-one-content-tag">
                <a href="news-one.html"><i class="fa fa-folder-open-o"></i> Article</a>
              </div>
              <div class="blog-post-one-content-title">
                <a href="single-blog.html">
                  Dishes That Amplify Your Feelings</a>
              </div>
              <div class="blog-post-one-content-meta">
                <p>
                  by
                  <a href="#">admin</a>/ on
                  <a href="#">20 Dec, 2018</a>
                </p>
              </div>
              <div class="blog-post-one-content-excerpt">
                <p>
                  Excepteur sint ocacat cupidatat non proi dent sunt in culpa
                  qui officia.
                </p>
              </div>
              <div class="blog-post-link">
                <a href="single-blog.html" class="btn-info post-link">Read More</a>
              </div>
            </div>
          </article>
        </div>
        <!-- end blog-post-item -->
      </div>
    </div>
  </div>
</section>