<section class="case-studie-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- start case-studie-three-item -->
        <div class="case-studie-three-item">
          <div class="case-studie-three-item-icon">
            <a href="case-detail1.html">
              <i class="fa fa-link"></i>
            </a>
            <a class="image-popup-no-margins" href="images/case-studie/Case-Studies01.jpg">
              <i class="fa fa-search image-popup-no-margins"></i>
            </a>
          </div>
          <div class="case-studie-three-item-thum">
            <img src="images/case-studie/Case-Studies01.jpg">
          </div>
          <h3>Cupidatat Non Oroi</h3>
        </div>
        <!-- end case-studie-three-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- start case-studie-three-item -->
        <div class="case-studie-three-item">
          <div class="case-studie-three-item-icon">
            <a href="case-detail1.html">
              <i class="fa fa-link"></i>
            </a>
            <a class="image-popup-no-margins" href="images/case-studie/Case-Studies8.jpg">
              <i class="fa fa-search image-popup-no-margins"></i>
            </a>
          </div>
          <div class="case-studie-three-item-thum">
            <img src="images/case-studie/Case-Studies8.jpg" alt="image">
          </div>
          <h3>Mollit Anim Est</h3>
        </div>
        <!-- end case-studie-three-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- start case-studie-three-item -->
        <div class="case-studie-three-item">
          <div class="case-studie-three-item-icon">
            <a href="case-detail1.html">
              <i class="fa fa-link"></i>
            </a>
            <a class="image-popup-no-margins" href="images/case-studie/Case-Studies4.jpg">
              <i class="fa fa-search image-popup-no-margins"></i>
            </a>
          </div>
          <div class="case-studie-three-item-thum">
            <img src="images/case-studie/Case-Studies4.jpg" alt="image">
          </div>
          <h3>Laborum Pers Sunt</h3>
        </div>
        <!-- end case-studie-three-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- start case-studie-three-item -->
        <div class="case-studie-three-item">
          <div class="case-studie-three-item-icon">
            <a href="case-detail1.html">
              <i class="fa fa-link"></i>
            </a>
            <a class="image-popup-no-margins" href="images/case-studie/Case-Studies5.jpg">
              <i class="fa fa-search image-popup-no-margins"></i>
            </a>
          </div>
          <div class="case-studie-three-item-thum">
            <img src="images/case-studie/Case-Studies5.jpg" alt="image">
          </div>
          <h3>Proidant Sunt Culpa</h3>
        </div>
        <!-- end case-studie-three-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- start case-studie-three-item -->
        <div class="case-studie-three-item">
          <div class="case-studie-three-item-icon">
            <a href="case-detail1.html">
              <i class="fa fa-link"></i>
            </a>
            <a class="image-popup-no-margins" href="images/case-studie/Case-Studies6.jpg">
              <i class="fa fa-search image-popup-no-margins"></i>
            </a>
          </div>
          <div class="case-studie-three-item-thum">
            <img src="images/case-studie/Case-Studies6.jpg" alt="image">
          </div>
          <h3>Excepteur Sint Unde</h3>
        </div>
        <!-- end case-studie-three-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <!-- start case-studie-three-item -->
        <div class="case-studie-three-item">
          <div class="case-studie-three-item-icon">
            <a href="case-detail1.html">
              <i class="fa fa-link"></i>
            </a>
            <a class="image-popup-no-margins" href="images/case-studie/Case-Studies7.jpg">
              <i class="fa fa-search image-popup-no-margins"></i>
            </a>
          </div>
          <div class="case-studie-three-item-thum">
            <img src="images/case-studie/Case-Studies7.jpg" alt="image">
          </div>
          <h3>Excepteur Sint Unde</h3>
        </div>
        <!-- end case-studie-three-item -->
      </div>
    </div>
  </div>
</section>