<section class="case-studie-six">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-30">
        <!-- start isotop-menu -->
        <div class="isotop-menu">
          <button class="active" data-filter="*">All</button>
          <button data-filter=".ct1">Investment</button>
          <button data-filter=".ct2">Business</button>
          <button data-filter=".ct3">Finance</button>
          <button data-filter=".ct4">Technical</button>
        </div>
        <!-- end isotop-menu -->
      </div>
    </div>
    <div class="row  grid">
      <div class="col-lg-6 col-md-6 col-sm-6 grid-item  ct2 ct4">
        <!-- start case-studie-six-item -->
        <div class="case-studie-six-item">
          <div class="case-studie-six-item-thum">
            <img src="images/case-studie/Case-Studies9.jpg" alt="image">
            <div class="case-studie-six-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies9.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>Cupidatat Non Oroi</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-six-item -->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 grid-item  ct1  ct3">
        <!-- start case-studie-six-item -->
        <div class="case-studie-six-item">
          <div class="case-studie-six-item-thum">
            <img src="images/case-studie/Case-Studies10.jpg" alt="image">
            <div class="case-studie-six-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies10.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>Mollit Anim Est</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-six-item -->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 grid-item ct2 ct3">
        <!-- start case-studie-six-item -->
        <div class="case-studie-six-item">
          <div class="case-studie-six-item-thum">
            <img src="images/case-studie/Case-Studies11.jpg" alt="image">
            <div class="case-studie-six-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies11.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>Proidant Sunt Culpa</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-six-item -->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 grid-item ct1 ct4">
        <!-- start case-studie-six-item -->
        <div class="case-studie-six-item">
          <div class="case-studie-six-item-thum">
            <img src="images/case-studie/Case-Studies12.jpg" alt="image">
            <div class="case-studie-six-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies12.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>Excepteur Sint Unde</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-six-item -->
      </div>
    </div>
  </div>
</section>