<section class="case-studie-five">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-30">
        <!-- start isotop-menu -->
        <div class="isotop-menu">
          <button class="active" data-filter="*">All</button>
          <button data-filter=".ct1">Investment</button>
          <button data-filter=".ct2">Business</button>
          <button data-filter=".ct3">Finance</button>
          <button data-filter=".ct4">Technical</button>
        </div>
        <!-- end isotop-menu -->
      </div>
    </div>
    <div class="row  grid">
      <div class="col-lg-4 col-md-4 col-sm-6 grid-item  ct2 ct3">
        <!-- start case-studie-five-item -->
        <div class="case-studie-five-item">
          <div class="case-studie-five-item-thum">
            <img src="images/case-studie/Case-Studies01.jpg" alt="image">
            <div class="case-studie-five-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies01.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>case-studie-five</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-five-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 grid-item  ct1  ct4">
        <!-- start case-studie-five-item -->
        <div class="case-studie-five-item">
          <div class="case-studie-five-item-thum">
            <img src="images/case-studie/Case-Studies8.jpg" alt="image">
            <div class="case-studie-five-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies8.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>Mollit Anim Est</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-five-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 grid-item ct2 ct3">
        <!-- start case-studie-five-item -->
        <div class="case-studie-five-item">
          <div class="case-studie-five-item-thum">
            <img src="images/case-studie/Case-Studies4.jpg" alt="image">
            <div class="case-studie-five-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies4.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>Laborum Pers Sunt</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-five-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 grid-item ct1 ct2">
        <!-- start case-studie-five-item -->
        <div class="case-studie-five-item">
          <div class="case-studie-five-item-thum">
            <img src="images/case-studie/Case-Studies5.jpg" alt="image">
            <div class="case-studie-five-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies5.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>Proidant Sunt Culpa</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-five-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 grid-item ct1  ct3">
        <!-- start case-studie-five-item -->
        <div class="case-studie-five-item">
          <div class="case-studie-five-item-thum">
            <img src="images/case-studie/Case-Studies6.jpg" alt="image">
            <div class="case-studie-five-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies6.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>Excepteur Sint Unde</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-five-item -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 grid-item  ct2 ct4 ">
        <!-- start case-studie-five-item -->
        <div class="case-studie-five-item">
          <div class="case-studie-five-item-thum">
            <img src="images/case-studie/Case-Studies7.jpg" alt="image">
            <div class="case-studie-five-item-icon">
              <a href="case-detail1.html">
                <i class="fa fa-link"></i>
              </a>
              <a class="image-popup-no-margins" href="images/case-studie/Case-Studies7.jpg">
                <i class="fa fa-search image-popup-no-margins"></i>
              </a>
            </div>
          </div>
          <h3>Excepteur Sint Unde</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipis elit sed eiusmod tempor incidunt labore dolore magna aliqua.
          </p>
          <a href="case-detail1.html">Read more</a>
        </div>
        <!-- end case-studie-five-item -->
      </div>
    </div>
  </div>
</section>