<section class="contact-four">
  <div class="shap1">
    <img src="images/contact/shape-1.png" alt="svg">
  </div>
  <div class="shap2">
    <img src="images/contact/shape-2.png" alt="svg">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <!-- start contact-five-info -->
        <div class="contact-four-address">
          <div class="map-icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <h3>Office Address</h3>
          <p>54074-707, Av. Guilherme Cervantes, 925. Fundos Cordeiro do Norte - MS</p>
        </div>
        <!-- end contact-five-info -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <!-- start contact-five-info -->
        <div class="contact-four-address">
          <div class="map-icon">
            <i class="fa fa-envelope"></i>
          </div>
          <h3>Message Us</h3>
          <ul>
            <li> <a href="mailto:Contact@bizcredcom">Contact@bizcredcom</a></li>
            <li> <a href="mailto:info@yourdomai.com">info@yourdomai.com</a></li>
          </ul>
        </div>
        <!-- end contact-five-info -->
        <!-- start contact-five-info -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <!-- start contact-five-info -->
        <div class="contact-four-address">
          <div class="map-icon">
            <i class="fa fa-phone"></i>
          </div>
          <h3>Contact Us</h3>
          <ul>
            <li><a href="tel:+17 (328) 569-8071">+17 (328) 569-8071</a>
            <li> <a href="tel:+17 (328) 569-8072">+17 (328) 569-8072</a></li>
            </li>
          </ul>
        </div>
        <!-- end contact-five-info -->
        <!-- start contact-five-info -->
      </div>
    </div>
  </div>
</section>