<section class="faq-aria">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <!--start faq-aria-wapper -->
        <div class="faq-aria-wapper">
          <h2>Accounting</h2>
          <p>Lorem ipsum dolor amet constur adipisicing elit eiustempor incid dolore magna enim minim veniam quis
            nostrud exercition.ullamco laboris nisi aliquip excep.</p>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h3 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    01. How can I exchange items ?
                  </button>
                </h3>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    02. How can I pay for my purchases?
                  </button>
                </h3>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    03. Can we host a product launch party?
                  </button>
                </h3>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    04. What are the delivery types?
                  </button>
                </h3>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.004
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end faq-aria-wapper -->
        <!--start faq-aria-wapper -->
        <div class="faq-aria-wapper">
          <h2>Finance</h2>
          <p>Lorem ipsum dolor amet constur adipisicing elit eiustempor incid dolore magna enim minim veniam quis
            nostrud exercition.ullamco laboris nisi aliquip excep.</p>
          <div class="accordion" id="accordion-two">
            <div class="card">
              <div class="card-header" id="headingFive">
                <h3 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="true" aria-controls="collapseFive">
                    01. How can I exchange items ?
                  </button>
                </h3>
              </div>

              <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion-two">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingsix">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsesix"
                    aria-expanded="false" aria-controls="collapsesix">
                    02. How can I pay for my purchases?
                  </button>
                </h3>
              </div>
              <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion-two">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingsiven">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsesiven" aria-expanded="false" aria-controls="collapsesiven">
                    03. Can we host a product launch party?
                  </button>
                </h3>
              </div>
              <div id="collapsesiven" class="collapse" aria-labelledby="headingsiven" data-parent="#accordion-two">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingeight">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                    04. What are the delivery types?
                  </button>
                </h3>
              </div>
              <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordion-two">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.004
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end faq-aria-wapper -->
        <!--start faq-aria-wapper -->
        <div class="faq-aria-wapper">
          <h2>Corporate</h2>
          <p>Lorem ipsum dolor amet constur adipisicing elit eiustempor incid dolore magna enim minim veniam quis
            nostrud exercition.ullamco laboris nisi aliquip excep.</p>
          <div class="accordion" id="accordion-three">
            <div class="card">
              <div class="card-header" id="headingnine">
                <h3 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsenine"
                    aria-expanded="true" aria-controls="collapsenine">
                    01. How can I exchange items ?
                  </button>
                </h3>
              </div>

              <div id="collapsenine" class="collapse show" aria-labelledby="headingnine" data-parent="#accordion-three">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingten">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseten"
                    aria-expanded="false" aria-controls="collapseten">
                    02. How can I pay for my purchases?
                  </button>
                </h3>
              </div>
              <div id="collapseten" class="collapse" aria-labelledby="headingten" data-parent="#accordion-three">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingelevien">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseelevien" aria-expanded="false" aria-controls="collapseelevien">
                    03. Can we host a product launch party?
                  </button>
                </h3>
              </div>
              <div id="collapseelevien" class="collapse" aria-labelledby="headingelevien"
                data-parent="#accordion-three">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingtowilb">
                <h3 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsetowilb" aria-expanded="false" aria-controls="collapsetowilb">
                    04. What are the delivery types?
                  </button>
                </h3>
              </div>
              <div id="collapsetowilb" class="collapse" aria-labelledby="headingtowilb" data-parent="#accordion-three">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore.
                  <br> <br>
                  Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut
                  perspiciatis unde omnis iste natus error sit voluptatem.004
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end faq-aria-wapper -->
        <!--start faq-aria-wapper -->
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <!--start faq-aria-widget -->
        <div class="faq-aria-widget">
          <article>
            <h3>Need Help?</h3>
            <p>Occaecat cupidatat non proident sunt in culpa qui officia.
              deserunt mollit.</p>
            <ul>
              <li><a href="mailto:info@company.com"> <i class="fa fa-envelope"></i>info@company.com</a></li>
              <li><a href="tel:+17 (328) 569-8071"><i class="fa fa-phone"></i> +17 (328) 569-8071</a>
              </li>
            </ul>
          </article>
          <article>
            <p>Download Brochure</p>
            <a href="#"><i class="fa fa-cloud-download"></i></a>
          </article>
          <article>
            <form action="#">
              <h3>Asked a Question</h3>
              <div class="form-row">
                <div class="form-group">
                  <input type="text" class="form-control" id="inputEmail4" placeholder="Your Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Your Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="inputEmail4" placeholder="Phone">
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Message"></textarea>
              </div>
              <a href="#" type="submit" class="btn btn-primary">Submit now</a>
            </form>
          </article>
        </div>
        <!--end faq-aria-widget -->
      </div>
    </div>
  </div>
</section>