<section class="hero-three">
  <!-- start hero-three-slider -->
  <div class="hero-three-slider">
    <div class=" hero-three-slider-aria" style="background: linear-gradient(rgba(0, 24, 46, 0.60), rgba(0, 24, 46, 0.60)),url(images/hero/hero-bg7.jpg);background-position: center;
      background-size: cover;">
      <div class="container">
        <div class="hero-three-slider-aria-content">
          <h1>Smart Solutions<br>
            For Your Business</h1>
          <div class="video-iframe">
            <div class="video-icon">
              <a class="popup-vimeo" href="https://vimeo.com/45830194">
                <i class="fa fa-play"></i>
              </a>
            </div>
          </div>
          <a href="contact-one.html" class="btn btn-primary">Contact us</a>
        </div>
      </div>

    </div>
    <div class=" hero-three-slider-aria" style="background: linear-gradient(rgba(0, 24, 46, 0.60), rgba(0, 24, 46, 0.60)),url(images/hero/hero-bg8.jpg);background-position: center;
      background-size: cover;">
      <div class="container">
        <div class="hero-three-slider-aria-content">
          <h1>Smart Solutions<br>
            For Your Business</h1>
          <div class="video-iframe">
            <div class="video-icon">
              <a class="popup-vimeo" href="https://vimeo.com/45830194">
                <i class="fa fa-play"></i>
              </a>
            </div>
          </div>
          <a href="contact-one.html" class="btn btn-primary">Contact us</a>
        </div>
      </div>

    </div>
    <div class=" hero-three-slider-aria" style="background: linear-gradient(rgba(0, 24, 46, 0.60), rgba(0, 24, 46, 0.60)),url(images/hero/hero-bg9.jpg);background-position: center;
      background-size: cover;">
      <div class="container">
        <div class="hero-three-slider-aria-content">
          <h1>Smart Solutions <br>
            For Your Business</h1>
          <div class="video-iframe">
            <div class="video-icon">
              <a class="popup-vimeo" href="https://vimeo.com/45830194">
                <i class="fa fa-play"></i>
              </a>
            </div>
          </div>
          <a href="contact-one.html" class="btn btn-primary">Contact us</a>
        </div>
      </div>

    </div>
  </div>
  <!-- end hero-three-slider -->
</section>