<section class="hero-two">
  <!-- start hero-two-slider -->
  <div class="hero-two-slider">
    <div class=" hero-two-slider-aria" style="background: linear-gradient(rgba(0, 24, 46, 0.60), rgba(0, 24, 46, 0.60)), url(images/hero/hero-bg4.jpg);background-position: center;
    background-size: cover;">
      <div class="container">
        <div class="hero-two-slider-aria-content">
          <h1 data-animation="fadeInDown" data-delay="0.5s">Quick, Smart <br>
            and Great Solutions</h1>
          <a href="contact-one.html" class="btn btn-primary hero-two-btn" data-animation="fadeInDown" data-delay="1s">Contact us</a>
        </div>
      </div>
    </div>
    <div class=" hero-two-slider-aria" style="background: linear-gradient(rgba(0, 24, 46, 0.60), rgba(0, 24, 46, 0.60)),url(images/hero/hero-bg5.jpg);background-position: center;
    background-size: cover;">
      <div class="container">
        <div class="hero-two-slider-aria-content">
          <h1 data-animation="fadeInDown" data-delay="0.5s">Quick, Smart <br>
            and Great Solutions</h1>
          <a href="contact-one.html" class="btn btn-primary hero-two-btn" data-animation="fadeInDown" data-delay="1s">Contact us</a>
        </div>
      </div>
    </div>
    <div class=" hero-two-slider-aria" style="background: linear-gradient(rgba(0, 24, 46, 0.60), rgba(0, 24, 46, 0.60)),url(images/hero/hero-bg6.jpg);background-position: center;
    background-size: cover;">
      <div class="container">
        <div class="hero-two-slider-aria-content">
          <h1 data-animation="fadeInDown" data-delay="0.5s">Quick, Smart <br>
            and Great Solutions</h1>
          <a href="contact-one.html" class="btn btn-primary hero-two-btn" data-animation="fadeInDown" data-delay="1s">Contact us</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end hero-two-slider -->
</section>