<section class="marketing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- start marketing-time-upded -->
        <div class="marketing-time-upded">
          <div class="marketing-time-upded-item">
            <h3>Clients</h3>
            <p>Victoria Simpson</p>
          </div>
          <div class="marketing-time-upded-item">
            <h3>Date</h3>
            <p>December 20, 2018</p>
          </div>
          <div class="marketing-time-upded-item">
            <h3>Category</h3>
            <p>Marketing Growth</p>
          </div>
          <div class="marketing-time-upded-item">
            <h3>Locations</h3>
            <p>42492-280, Rua Rafaela Paz</p>
          </div>
        </div>
        <!-- end marketing-time-upded -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!--start marketing-two-content -->
        <div class="marketing-content">
          <h2>Marketing Growth</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do ei usmod tempor incididunt.enim minim veniam
            quis nostrud exer citation ullamco laboris nisi aliquip ex ea commodo consequat duis aute irure dolor.
            excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae illo inventore enim ipsam voluptatem.</p>
          <div class="marketing-content-image">
            <img src="images/marketing/marketing.jpg" alt="image">
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do ei usmod tempor incididunt.enim minim veniam
            quis nostrud exer citation ullamco laboris nisi aliquip ex ea commodo consequat duis aute irure dolor.
            excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae illo inventore enim ipsam voluptatem</p>
        </div>
        <!--end marketing-two-content -->
      </div>
    </div>
  </div>
</section>