<section class="mission-vision-two">
  <div class="shap1">
    <img src="images/mission-vision/shap2.png" alt="">
  </div>
  <div class="shap2">
    <img src="images/mission-vision/shap.png" alt="">
  </div>
  <div class="container">
    <div class="row align-items-center mb-100">
      <div class="col-lg-6 col-md-12">
        <!--start mission-vision-two-images  -->
        <div class="mission-vision-two-images">
          <img src="images/mission-vision/mission-vision3.jpg" alt="image">
        </div>
        <!--end mission-vision-two-images  -->
      </div>
      <div class="col-lg-6 col-md-12">
        <!--start mission-vision-two-content  -->
        <div class="mission-vision-two-content">
          <h2>The Challenge</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et
            dolore </p>
          <ul>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
          </ul>
        </div>
        <!--end mission-vision-two-content  -->
      </div>
    </div>
    <div class="row align-items-center mb-100">
      <div class="col-lg-6 col-md-12">
        <!--start mission-vision-two-content  -->
        <div class="mission-vision-two-content">
          <h2>Result Driven</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et
            dolore </p>
          <ul>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
          </ul>
        </div>
        <!--end mission-vision-two-content  -->
      </div>
      <div class="col-lg-6 col-md-12">
        <!--start mission-vision-two-images  -->
        <div class="mission-vision-two-images">
          <img src="images/mission-vision/chat-bar.jpg" alt="image">
        </div>
        <!--end mission-vision-two-images  -->
      </div>
    </div>
  </div>
</section>