<section class="mission-vision">
  <div class="container-fulid">
    <div class="row no-gutters">
      <div class="col-lg-6 col-md-12">
        <div class="mission-vision-images" style="background-image: url(images/mission-vision/mission-vision1.jpg)">
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <!--start mission-vision-content  -->
        <div class="mission-vision-content">
          <h2>Our Mission <br>
            is Now a Reality</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et
            dolore </p>
          <ul>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
          </ul>
          <a href="service-three.html" class="btn btn-primary">Read more</a>
        </div>
        <!--end mission-vision-content  -->
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 col-md-12">
        <!--start mission-vision-content  -->
        <div class="mission-vision-content">
          <h2>Our Vision <br>
            is Now a Reality</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et
            dolore </p>
          <ul>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
          </ul>
          <a href="service-three.html" class="btn btn-primary">Read more</a>
        </div>
        <!--end mission-vision-content  -->
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="mission-vision-images" style="background-image:url(images/mission-vision/mission-vision2.jpg)">
        </div>
      </div>
    </div>
  </div>
</section>