<!-- Navbar Start -->
<nav class="main-nav-three navbar navbar-expand-lg">
  <div class="container">

    <!-- Toogle Button -->
    <div class="account-list-two ml-auto">
      <li class="list-inline-item">
        <div class="search-box-two">
          <input type="text" placeholder="Search...">
          <div class="search"></div>
        </div>
      </li>
    </div>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNav">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse nav-list" id="mainNav">
      <!-- Navigation Links -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="index.html" class="nav-link dropdown-toggle" data-toggle="dropdown">Home
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
              <a class="dropdown-item" href="index.html">Home page 1
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="home2.html">Home page 2
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="home3.html">Home page 3
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">About
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
              <a class="dropdown-item" href="about1.html">About page 1
              </a>
            </li>
            <li><a class="dropdown-item" href="about2.html">About page 2
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
              <a class="dropdown-item" href="service-one.html">Services page 1
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="service-tow.html">Services page 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="service-three.html">Services page 3
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
              <a class="dropdown-item" href="team.html"> Our-Team</a>
            </li>
            <li>
              <a class="dropdown-item" href="case-Study1.html">Case Study 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="case-Study2.html"> Case-Study2</a>
            </li>
            <li>
              <a class="dropdown-item" href="case-Study3.html"> Case-Study3</a>
            </li>
            <li>
              <a class="dropdown-item" href="case-Study4.html"> Case-Study4</a>
            </li>
            <li>
              <a class="dropdown-item" href="case-Study5.html"> Case-Study5</a>
            </li>
            <li>
              <a class="dropdown-item" href="case-detail1.html">case-detail1</a>
            </li>
            <li>
              <a class="dropdown-item" href="case-detail2.html">case-detail2</a>
            </li>
            <li>
              <a class="dropdown-item" href="pricing.html">Pricing-detail</a>
            </li>
            <li>
              <a class="dropdown-item" href="faq.html">Faq Page</a>
            </li>
            <li>
              <a class="dropdown-item" href="testimonial.html">Testimonial</a>
            </li>
            <li>
              <a class="dropdown-item" href="career.html">Career</a>
            </li>
            <li>
              <a class="dropdown-item" href=" error.html">Error</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">News
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
              <a class="dropdown-item" href="news-one.html">News page 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="news-tow.html">News page 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="news-three.html">News page 3</a>
            </li>
            <li>
              <a class="dropdown-item" href="single-blog.html">single-blog</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Contact
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li>
              <a class="dropdown-item" href="contact-one.html">Contact page 1
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="contact-tow.html">Contact page 2
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="account-list list-inline ">
        <li class="list-inline-item">
          <div class="search-box">
            <input type="text" placeholder="Search...">
            <div class="search"></div>
          </div>
        </li>
        <li class="list-inline-item">
          <a href="#" class=" btn btn-primary Appoinment">Get Appoinment</a>
        </li>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar End -->