<section class="pricing-two">
  <div class="shap1">
    <img src="images/pricing/shap2.png" alt="svg">
  </div>
  <div class="shap2">
    <img src="images/pricing/shap3.png" alt="svg">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- start pricing-two section title-->
        <div class="section-title">
          <span>Pricing Table</span>
          <h2>Choose Your Plan</h2>
          <div class="border-bottom">
          </div>
        </div>
        <!-- end pricing-two section title-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- start pricing-two-tab-->
        <div class="pricing-two-tab">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-2018-tab" data-toggle="pill" href="#pills-2018" role="tab"
                aria-controls="pills-2018" aria-selected="true">Monthly Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-2017-tab" data-toggle="pill" href="#pills-2017" role="tab"
                aria-controls="pills-2017" aria-selected="false">Yearly Plan</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-2018" role="tabpanel" aria-labelledby="pills-2018-tab">

              <div class="pricing-two-item-one">
                <h3>Basic Plan</h3>
                <p>$19</p>
                <a href="#" class="btn btn-primary">Select Plan</a>
              </div>
              <div class="pricing-two-item-two">
                <p>Occaecat cupidatat non proi dent sunt in culpaqui officia.
                  deserunt mollit anim id est laborum.
                </p>
                <ul>
                  <li> Competitive analysis</li>
                  <li>Marketing strategy</li>
                  <li>Monthly management</li>
                  <li>Analysis</li>
                </ul>
              </div>
              <div class="pricing-two-item-three">
                <h3>Professional Plan</h3>
                <p>$29</p>
                <a href="#" class="btn btn-secondary">Select Plan</a>
              </div>
              <div class="pricing-two-item-two">
                <p>Occaecat cupidatat non proi dent sunt in culpaqui officia.
                  deserunt mollit anim id est laborum.
                </p>
                <ul>
                  <li> Competitive analysis</li>
                  <li>Marketing strategy</li>
                  <li>Monthly management</li>
                  <li>Analysis</li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-2017" role="tabpanel" aria-labelledby="pills-2017-tab">

              <div class="pricing-two-item-one">
                <h3>Basic Plan</h3>
                <p>$200</p>
                <a href="#" class="btn btn-primary">Select Plan</a>
              </div>
              <div class="pricing-two-item-two">
                <p>Occaecat cupidatat non proi dent sunt in culpaqui officia.
                  deserunt mollit anim id est laborum.
                </p>
                <ul>
                  <li> Competitive analysis</li>
                  <li>Marketing strategy</li>
                  <li>Monthly management</li>
                  <li>Analysis</li>
                </ul>
              </div>
              <div class="pricing-two-item-three">
                <h3>Professional Plan</h3>
                <p>$350</p>
                <a href="#" class="btn btn-secondary">Select Plan</a>
              </div>
              <div class="pricing-two-item-two">
                <p>Occaecat cupidatat non proi dent sunt in culpaqui officia.
                  deserunt mollit anim id est laborum.
                </p>
                <ul>
                  <li> Competitive analysis</li>
                  <li>Marketing strategy</li>
                  <li>Monthly management</li>
                  <li>Analysis</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end pricing-two-tab -->
      </div>
    </div>
  </div>
</section>