<section class="pricing" id="pricing">
    <div class="shap1">
        <img src="images/pricing/shap1.png" alt="">
    </div>
    <div class="shap2">
        <img src="images/pricing/shap2.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- start pricing-section title-->
                <div class="section-title">
                    <span>Pricing Table</span>
                    <h2>Choose Your Plan</h2>
                    <div class="border-bottom"></div>
                </div>
                <!-- start pricing-section title-->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <!-- start pricing-item-->
                <div class="pricing-item">
                    <div class="pricing-item-content">
                        <h3>Standard</h3>
                        <p class="daller">
                            <span>$20</span>
                            /mo
                        </p>

                        <ul>
                            <p>Accusantium doloremque lau dantiu totam rem aperiam eaque ipsa.</p>

                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Responsive Live
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Adaptive Bitrate
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Analytics
                            </li>
                            <li class="deactive">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Creative Layouts
                            </li>
                            <li class="deactive">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Free Support
                            </li class="deactive">
                        </ul>
                        <a href="contact-one.html" class="btn btn-primary-outline">Get Started</a>
                    </div>
                </div>
                <!-- end pricing-item-->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- start pricing-item-->
                <div class="pricing-item active">
                    <div class="pricing-item-content">
                        <h3>Popular Plan</h3>
                        <p class="daller">
                            <span>$40</span>
                            /mo
                        </p>

                        <ul>
                            <p>Accusantium doloremque lau dantiu totam rem aperiam eaque ipsa.</p>

                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Responsive Live
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Adaptive Bitrate
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Analytics
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Creative Layouts
                            </li>
                            <li class="deactive">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Free Support
                            </li>
                        </ul>
                        <a href="contact-one.html" class="btn btn-primary-outline">Get Started</a>
                    </div>
                    <div class="pricing-item-dell">
                        <p>best deal</p>
                    </div>
                </div>
                <!-- end pricing-item-->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- start pricing-item-->
                <div class="pricing-item">
                    <div class="pricing-item-content">
                        <h3>Professional Plan</h3>
                        <p class="daller">
                            <span>$60</span>
                            /mo
                        </p>

                        <ul>
                            <p>Accusantium doloremque lau dantiu totam rem aperiam eaque ipsa.</p>

                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Responsive Live
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Adaptive Bitrate
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Analytics
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Creative Layouts
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11">
                                    <path fill-rule="evenodd"
                                        d="M.799 4.489L0 5.328l5.106 5.67L14 .721l-.701-.719-8.193 6.493L.799 4.489z" />
                                </svg>
                                Free Support
                            </li>
                        </ul>
                        <a href="contact-one.html" class="btn btn-primary-outline">Get Started</a>
                    </div>
                </div>
                <!-- end pricing-item-->
            </div>
        </div>
    </div>
</section>