<section class="service-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <!-- start service-detail-widget  -->
        <div class="service-detail-widget">
          <article>
            <h2>Our Services</h2>
            <ul>
              <li>
                <a href="service-three.html">Market Analysis
                  <i class="fa fa-long-arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="service-three.html">Investment Planning
                  <i class="fa fa-long-arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="service-three.html">Business Consulting
                  <i class="fa fa-long-arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="service-three.html">Financial Planning
                  <i class="fa fa-long-arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="service-three.html">Business Research
                  <i class="fa fa-long-arrow-right"></i>
                </a>
              </li>
              <li>
                <a href="service-three.html">Capital Marketing
                  <i class="fa fa-long-arrow-right"></i>
                </a>
              </li>
            </ul>
          </article>
          <article>
            <p>Download Brochure</p>
            <a href="#"><i class="fa fa-cloud-download"></i></a>
          </article>
          <article>
            <h3>Need Help?</h3>
            <p>Occaecat cupidatat non proident sunt in culpa qui officia.
              deserunt mollit.</p>
            <ul>
              <li><a href="mailto:info@company.com"> <i class="fa fa-envelope"></i>info@company.com</a></li>
              <li><a href="tel:+17 (328) 569-8071"><i class="fa fa-phone"></i> +17 (328) 569-8071</a>
              </li>
            </ul>
          </article>
        </div>
        <!-- end service-detail-widget -->
      </div>
      <div class="col-lg-8 col-md-12">
        <!--start service-detail-images  -->
        <div class="service-detail-images">
          <img src="images/service/service-detail.jpg" alt="image">
        </div>
        <!-- end service-detail-images-->
        <!-- start service-detail-content -->
        <div class="service-detail-content">
          <h2>Investment Planning</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do ei usmod tempor incididunt.enim minim veniam
            quis nostrud exer citation ullamco laboris nisi aliquip ex ea commodo consequat duis auteirure dolor.
            excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum. Sed ut perspiciatis unde.omnis iste natus error sit voluptatem accusantium doloremque laudantium
            totam rem aperiam eaque ipsa quae ab illo inventore.</p>
          <br>
          <p> Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur.magni dolores
            eos qui ratione voluptatem sequi nesciunt. neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
            consectetur adipisci velit.</p>
          <ul>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
          </ul>
        </div>
        <!-- end service-detail-content -->
        <!-- start service-detail-content -->
        <div class="service-detail-content">
          <h2>Analysis Chart</h2>
          <p> Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur.magni dolores
            eos qui ratione voluptatem sequi nesciunt. neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
            consectetur adipisci velit.</p>
          <img src="images/service/chat-bar2.jpg" alt="image">
          <p>Adipisicing elit sed do ei usmod tempor incididunt.enim minim veniam quis nostrud exer citation ullamco
            laboris nisi aliquip ex ea commodo consequat duis auteirure dolor. excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde.omnis iste
            natus error sit voluptatem accusantium.</p>
          <ul>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
            <li>Borrow from 5,000 to 50,000 at fixed rates</li>
          </ul>
        </div>
        <!--end service-detail-content  -->
      </div>
    </div>
  </div>
</section>