<section class="skill">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-6 col-md-6">
        <div class="skill-images">
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="shap">
          <img src="images/skill/shape-2.png" alt="">
        </div>
        <!--start skill-wraper  -->
        <div class="skill-wraper">
          <div class="skill-wraper-content" data-aos="fade-left">
            <span> Our Skill</span>
            <h2>Growth Rate <br>
              Of Last 25 Years</h2>
            <p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt mollit anim id est.
              laborum sed ut pers piciatis unde.
            </p>
          </div>
          <div class="progress-block" data-aos="fade-left" data-delay=".5s">
            <h6>Design</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" data-percent="85">
                <div class="progress-number">
                  <span class="skill-number">0</span>
                  <span>%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="progress-block" data-aos="fade-left" data-delay=".8s">
            <h6>Marketing</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" data-percent="75">
                <div class="progress-number">
                  <span class="skill-number">0</span>
                  <span>%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="progress-block" data-aos="fade-left">
            <h6>Design</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" data-percent="85" data-delay="1s">
                <div class="progress-number">
                  <span class="skill-number">0</span>
                  <span>%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="progress-block" data-aos="fade-left">
            <h6>Marketing</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" data-percent="75" data-delay="1.2s">
                <div class="progress-number">
                  <span class="skill-number">0</span>
                  <span>%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end skill-wraper-->
      </div>
    </div>
  </div>
</section>