<section class="team-tow">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Our Team</span>
          <h2 style="color:white">Executive Team</h2>
          <div class="border-bottom"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!--start team-tow-slider -->
        <div class="team-tow-slider">
          <div class="team-tow-slider-item">
            <div class="team-tow-slider-item-thum">
              <img src="images/team/team6.jpg" alt="images">
              <div class="team-tow-slider-item-link">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <h4>Rodrick Heller</h4>
          </div>
          <div class="team-tow-slider-item">
            <div class="team-tow-slider-item-thum">
              <img src="images/team/team7.jpg" alt="images">
              <div class="team-tow-slider-item-link">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <h4>Haley Champlin</h4>
          </div>
          <div class="team-tow-slider-item">
            <div class="team-tow-slider-item-thum">
              <img src="images/team/team8.jpg" alt="images">
              <div class="team-tow-slider-item-link">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <h4>Marcelo Reichel</h4>
          </div>
          <div class="team-tow-slider-item">
            <div class="team-tow-slider-item-thum">
              <img src="images/team/team4.jpg" alt="images">
              <div class="team-tow-slider-item-link">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <h4>Jaqueline Berge</h4>
          </div>
          <div class="team-tow-slider-item">
            <div class="team-tow-slider-item-thum">
              <img src="images/team/team5.jpg" alt="images">
              <div class="team-tow-slider-item-link">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <h4>Chariet Mayer</h4>
          </div>
          <div class="team-tow-slider-item">
            <div class="team-tow-slider-item-thum">
              <img src="images/team/team4.jpg" alt="images">
              <div class="team-tow-slider-item-link">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <h4>Jaqueline Berge</h4>
          </div>
          <div class="team-tow-slider-item">
            <div class="team-tow-slider-item-thum">
              <img src="images/team/team5.jpg" alt="images">
              <div class="team-tow-slider-item-link">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <h4>Chariet Mayer</h4>
          </div>
        </div>
        <!-- end team-tow-slider-->
      </div>
    </div>
  </div>
</section>