<section class="testimonial-three">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <!-- start testimonial-three-item -->
        <div class="testimonial-three-item">
          <div class="testimonial-three-item-list">
            <ul>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
          </div>
          <p>Lorem ipsum dolor amet constur adipelit sed eiustempor inc dolore magna aliqu. enim minim veniam quis
            nostrud
            exercit
            tion ullam laboris nisi aliquip excepteur sint caecat.datat non
            proident sunt in culpa qui.officia deserunt.mollit anim est laborum sed perspiciatis.</p>
          <div class="testimonial-three-cliend">
            <img src="images/testomoneal/cliend.jpg" alt="images">
            <div class="testimonial-three-cliend-desction">
              <h4>Haley Champlin</h4>
              <p>Davolopar</p>
            </div>
          </div>
        </div>
        <!-- end testimonial-three-item -->
      </div>
      <div class="col-lg-6 col-md-6">
        <!-- start testimonial-three-item -->
        <div class="testimonial-three-item">
          <div class="testimonial-three-item-list">
            <ul>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
          </div>
          <p>Lorem ipsum dolor amet constur adipelit sed eiustempor inc dolore magna aliqu. enim minim veniam quis
            nostrud
            exercit
            tion ullam laboris nisi aliquip excepteur sint caecat.datat non
            proident sunt in culpa qui.officia deserunt.mollit anim est laborum sed perspiciatis.</p>
          <div class="testimonial-three-cliend">
            <img src="images/testomoneal/cliend2.jpg" alt="images">
            <div class="testimonial-three-cliend-desction">
              <h4>Haley Champlin</h4>
              <p>Davolopar</p>
            </div>
          </div>
        </div>
        <!-- end testimonial-three-item -->
      </div>
    </div>
  </div>
</section>