<section class="testimonial">
  <div class="shap">
    <img src="images/testomoneal/shap2.png" alt="svg">
  </div>
  <div class="shap-2">
    <img src="images/testomoneal/shap.png" alt="svg">
  </div>
  <div class="shap3">
    <img src="images/pricing/shap1.png" alt="">
  </div>
  <div class="container">
    <div class="row no-gutters align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="testimonial-images">
          <img src="images/testomoneal/testimoneal.png" alt="images">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="testimonial-content" data-aos="fade-left">
          <!-- start testimonial-slider -->
          <div class="testimonial-slider">
            <div class="testimonial-slider-itam">
              <div class="testimonial-slider-itam-list">
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
              <p>Lorem ipsum dolor amet constur adipelit sed eiustempor inc dolore magna aliqu. enim minim veniam quis
                nostrud
                exercit
                tion ullam laboris nisi aliquip excepteur sint caecat.datat non
                proident sunt in culpa qui.officia deserunt.mollit anim est laborum sed perspiciatis.</p>
              <div class="testimonial-slider-itam-cliend">
                <div class="reviewer-thumb">
                  <img src="images/testomoneal/cliend.jpg" alt="images">
                </div>
                <div class="testimonial-slider-itam-cliend-desction">
                  <h4>Haley Champlin</h4>
                  <a href="#">Davolopar</a>
                </div>
              </div>
            </div>
            <div class="testimonial-slider-itam">
              <div class="testimonial-slider-itam-list">
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
              <p>Lorem ipsum dolor amet constur adipelit sed eiustempor inc dolore magna aliqu. enim minim veniam quis
                nostrud
                exercit
                tion ullam laboris nisi aliquip excepteur sint caecat.datat non
                proident sunt in culpa qui.officia deserunt.mollit anim est laborum sed perspiciatis.</p>
              <div class="testimonial-slider-itam-cliend">
                <div class="reviewer-thumb">
                  <img src="images/testomoneal/cliend.jpg" alt="images">
                </div>
                <div class="testimonial-slider-itam-cliend-desction">
                  <h4>Haley Champlin</h4>
                  <a href="#">Davolopar</a>
                </div>
              </div>
            </div>
            <div class="testimonial-slider-itam">
              <div class="testimonial-slider-itam-list">
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
              <p>Lorem ipsum dolor amet constur adipelit sed eiustempor inc dolore magna aliqu. enim minim veniam quis
                nostrud
                exercit
                tion ullam laboris nisi aliquip excepteur sint caecat.datat non
                proident sunt in culpa qui.officia deserunt.mollit anim est laborum sed perspiciatis.</p>
              <div class="testimonial-slider-itam-cliend">
                <div class="reviewer-thumb">
                  <img src="images/testomoneal/cliend.jpg" alt="images">
                </div>
                <div class="testimonial-slider-itam-cliend-desction">
                  <h4>Haley Champlin</h4>
                  <a href="#">Davolopar</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end testimonial-slider-->
        </div>
      </div>
    </div>
  </div>
</section>