<section class="testimonial-four">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <!-- start testimonial-four-item -->
        <div class="testimonial-four-item">
          <div class="testimonial-four-item-content">
            <p>Lorem ipsum dolor amet constur adipelit sed eiustempor dolore magna aliqu enim minim veniam quis nostrud
              exercittion ullam labor nisi aliquip excepteur sint.</p>
            <div class="drop"></div>
          </div>
          <div class="testimonial-four-item-cliend">
            <div class="cliend-logo">
              <img src="images/testomoneal/cliend-one.jpg" alt="image">
            </div>
            <div class="cliend-descipton">
              <h3>Michelle Launay</h3>
              <p>Adviser</p>
            </div>
          </div>
        </div>
        <!-- end testimonial-four-item -->
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- start testimonial-four-item -->
        <div class="testimonial-four-item">
          <div class="testimonial-four-item-content">
            <p>Lorem ipsum dolor amet constur adipelit sed eiustempor dolore magna aliqu enim minim veniam quis nostrud
              exercittion ullam labor nisi aliquip excepteur sint.</p>
            <div class="drop"></div>
          </div>
          <div class="testimonial-four-item-cliend">
            <div class="cliend-logo">
              <img src="images/testomoneal/cliend-tow.jpg" alt="image">
            </div>
            <div class="cliend-descipton">
              <h3>Benjamin Valette</h3>
              <p>Developer</p>
            </div>
          </div>
        </div>
        <!-- end testimonial-four-item -->
      </div>
      <div class="col-lg-4 col-md-6">
        <!-- start testimonial-four-item -->
        <div class="testimonial-four-item">
          <div class="testimonial-four-item-content">
            <p>Lorem ipsum dolor amet constur adipelit sed eiustempor dolore magna aliqu enim minim veniam quis nostrud
              exercittion ullam labor nisi aliquip excepteur sint.</p>
            <div class="drop"></div>
          </div>
          <div class="testimonial-four-item-cliend">
            <div class="cliend-logo">
              <img src="images/testomoneal/cliend-three.jpg" alt="image">
            </div>
            <div class="cliend-descipton">
              <h3>Marine Aubry</h3>
              <p>Manager</p>
            </div>
          </div>
        </div>
        <!-- end testimonial-four-item -->
      </div>
    </div>
  </div>
</section>