.form-control:focus {
  color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none;
  background: #27394a;
}

.mfp-title {
  display: none;
}

#button {
  display: inline-block;
  cursor: pointer;
  background-color: $primary-color;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.3s ease;
  visibility: hidden;
  z-index: 1000;
  border-radius: 50%;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-size: 15px;
  line-height: 45px;
  color: #fff;
}

#button:hover {
  background-color: #041a2f;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.section {
  &-title {
    margin-top: 110px;
    text-align: center;
    margin-bottom: 50px;

    @include desktop {
      margin-top: 60px;
    }

    @include tablet {
      margin-top: 40px;
      margin-bottom: 30px;
    }

    span {
      font-size: 20px;
      font-weight: 600;
      color: $primary-color;
      display: block;
      margin-bottom: 20px;

      @include mobile-xs {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }

    h2 {
      margin-bottom: 20px;

      @include desktop {
        font-size: 30px;
        line-height: 40px;
      }

      @include tablet {
        font-size: 25px;
        margin-bottom: 20px;
        line-height: 30px;
      }

      @include mobile-xs {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    p {
      width: 80%;
      margin: 0 auto;
      font-size: 17px;
      font-weight: 400;
      padding-bottom: 10px;

      @include desktop {
        width: 100%;
      }

      @include tablet {
        font-size: 16px;
      }
    }
  }
}

.page {
  &-hadding {
    padding: 100px 0;
    text-align: center;

    @include tablet {
      padding: 50px 0;
    }

    @include mobile-xs {
      padding: 30px 0;
    }

    h1 {
      color: $white;
      font-size: 40px;
      line-height: 80px;
      font-weight: 600;
      margin-bottom: 0;

      @include tablet {
        font-size: 30px;
        line-height: 60px;
      }

      @include mobile {
        font-size: 25px;
        line-height: 50px;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -5px;

      a {
        color: $white;
      }

      i {
        padding: 0 10px;
        color: $white;
      }

      span {
        color: $primary-color;
      }
    }
  }
}

.border-bottom {
  width: 100px;
  height: 2px;
  position: absolute;
  background: #e5e5e5;
  left: 50%;
  top: 92%;
  transform: translate(-50%, -50%);

  @include tablet {
    top: 100%;
  }

  @include mobile {
    margin-bottom: 50px;
  }
}

.page-header {
  padding: 200px 0;
  text-align: center;

  p {
    width: 50%;
    margin: 0 auto;
  }
}
.tag {
  border: 1px solid $border-color;
  padding: 10px 20px;
  color: $text-color-dark;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  display: block;
  text-decoration: none;

  &:hover {
    background: $primary-color;
    color: white;
    text-decoration: none;
    border: 1px solid $primary-color;
  }
}
.mt-15 {
  margin-top: 15px;

  @include desktop {
    margin-top: 25px;
  }

  @include tablet {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;

  @include tablet {
    margin-top: 0;
  }
}

.mt-100 {
  margin-top: 100px;

  @include desktop {
    margin-top: 50px;
  }
}

.ml-25 {
  margin-left: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-150 {
  margin-bottom: 150px;

  @include desktop {
    margin-bottom: 10px;
  }
}

.pl-30 {
  padding-left: 30px;

  @include desktop {
    padding-left: 0;
  }
}

.pl-60{
  padding-left: 60px;
}

.mb-100 {
  margin-bottom: 100px;

  @include desktop {
    margin-bottom: 50px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1999;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  visibility: hidden;
  opacity: 0;

  &.on {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes moveTopBottom{
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
}
@keyframes moveLeftRight{
  0%, 100%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-10px);
  }
}
@keyframes moveRotate{
  0%, 100%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(360deg);
  }
}