//site color variables
$body-color: #82808000;
$primary-color: #5cc18c;
$secondary-color: #5477F8;
$text-color: #828486;
$text-color-dark:#00162c;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #e5e5e5;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Poppins',
sans-serif;
$secondary-font:'Open Sans',
sans-serif;